<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>imgur</title>
  <link rel="stylesheet" href="src/style.css">
  <script src="src/script.js"></script>
</head>
<body>
  <div id="root">
    <fieldset>
      <span id="loginmsg">
        login <a href="/login">here</a> if you already have an account
      </span>
      <legend>sign up</legend>
      <br><br>
      <form action="/" method="post">
        <label for="username">username
          <input name="user" type="text" id="username" value="" 
          autofocus autocomplete="off" placeholder="set your new username" 
          required />
        </label>
        <label for="password">password
          <input name="pass" type="text" id="password" value="" 
          autocomplete="off" placeholder="set your new password" 
          required />
        </label>
        <button id="signup">sign up</button>
        <% if(err) {%> 
        <mark class="red" title="click to close error"><%=  err  %></mark>
        <% } %> 
      </form>
    </fieldset>
  </div>
  <h2>
  </h2>
</body>
</html>