<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="src/profile.css">
  <title>
    <%  %>
  </title>
</head>
<body>
  <div id="root">
    <div id="profile">
      <figure>
        <img src="src/img/user.png" alt="user">
        <figcaption>
          <%= name %> 
        </figcaption>
      </figure>
      <form action="/profile" method="post">
        <input type="file" name="upload" id="fileupload" 
        onchange="this.parentElement.submit()" >
        <!-- <button>upload</button> -->
      </form>
    </div>
  </div>
  <footer>
    <a href="/">home</a> 
    <a href="profile/logout">logout</a>
  </footer>
</body>
</html>